---
title: Spacing
layout: drizzle
---

<h1 class="drizzle-heading-1">{{title}}</h1>

<p class="drizzle-p">
  Spacing classes can be used to stitch together components. This is useful
  because if you build the spacing before and after a component into the
  component itself, it's less likely to be reusable in a different context.
</p>

{{#with (data 'spacing')}}

<h2 class="drizzle-heading-2 u-margin-top-xxl">Margin</h2>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each spacing-classes}}
    <tr style="background: #eee">
      <td>
        <div style="background: #ddd" class="{{class}}">
          <code>.{{class}}</code>
        </div>
      </td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2 class="drizzle-heading-2 u-margin-top-xxl">Padding</h2>
<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each padding-classes}}
    <tr style="background: #eee">
      <td>
        <div style="background: #ddd" class="{{class}}">
          <code>.{{class}}</code>
        </div>
      </td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/with}}


<h2 class="drizzle-heading-2 u-margin-top-xxl">Responsive Spacing</h2>
<p class="drizzle-p">To adjust margin and padding at different breakpoints you can add <code class="language-css">@sm</code>, <code class="language-css">@md</code>, <code class="language-css">@lg</code>, <code class="language-css">@xl</code> after any of the spacing classes:</p>

<div>
  <div class="u-margin-bottom-sm u-margin-bottom-md@md u-margin-bottom-lg@lg drizzle-example-block"></div>
  <div class="u-margin-bottom-sm u-margin-bottom-md@md u-margin-bottom-lg@lg drizzle-example-block"></div>
  <div class="u-margin-bottom-sm u-margin-bottom-md@md u-margin-bottom-lg@lg drizzle-example-block"></div>
</div>

<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    &lt;div class="u-margin-bottom-sm u-margin-bottom-md@md u-margin-bottom-lg@lg"&gt;&lt;/div&gt;
    &lt;div class="u-margin-bottom-sm u-margin-bottom-md@md u-margin-bottom-lg@lg"&gt;&lt;/div&gt;
    &lt;div class="u-margin-bottom-sm u-margin-bottom-md@md u-margin-bottom-lg@lg"&gt;&lt;/div&gt;
  </code>
</pre>
