---
title: Colors
layout: drizzle
---

<h1 class="heading_1">{{title}}</h1>

{{#with (data 'colors')}}
<ul class="drizzle-u-listInline">
  {{#each grayscale}}
  <li class="drizzle-u-marginBottom">
    <figure class="drizzle-u-noMarginLeft">
      <svg width="160" height="90" viewBox="0 0 160 90">
        <rect x="0" y="0" width="160" height="90" fill="{{color}}" stroke="lightgray" stroke-width="2" />
      </svg>
      <figcaption class="drizzle-u-textSmaller">
        <ul class="drizzle-u-listUnstyled">
          <li><code>{{color}}</code></li>
          {{#if name}}<li><code>{{name}}</code></li>{{/if}}
        </ul>
      </figcaption>
    </figure>
  </li>
  {{/each}}
</ul>

<!-- <table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Name</th>
      <th>Hex</th>
      <th>Contrast with White Background </th>
      <th>Contrast with Black Background</th>
    </tr>
  </thead>
  <tbody>
    {{#each grayscale}}
      <tr>
        <td>
          <span>
            <svg width="50" height="50" viewBox="0 0 50 50">
              <rect x="0" y="0" width="50" height="50" fill="{{color}}" stroke="lightgray" stroke-width="2" />
            </svg>
          </span>
        </td>
        <td class="drizzle-u-pad">{{name}}</td>
        <td><pre class="drizzle-u-pad language-sass"><code>{{color}}</code></pre></td>
        <td class="drizzle-u-pad">{{lightscore}}</td>
        <td class="drizzle-u-pad">{{darkscore}}</td>
      </tr>
    {{/each}}
  </tbody>
</table> -->
{{/with}}
