---
title: Spacing
layout: drizzle
---

<h1 class="heading-1">{{title}}</h1>

{{#with (data 'spacing')}}
<h2 class="heading-2">Margin</h2>
<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each spacing-classes}}
    <tr>
      <td><code>{{class}}</code></td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2 class="heading-2">Padding</h2>
<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each padding-classes}}
    <tr>
      <td><code>{{class}}</code></td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/with}}
