---
hidden: true
---
{{#*inline "nav-item"}}
  <a class="drizzle-nav__link drizzle-Nav-item" href="{{@root.baseurl}}/{{url}}">{{label}}</a>
{{/inline}}

<div class="drizzle-Layout-nav drizzle-nav" id="nav">
  <div class="drizzle-nav__header">
    <p class="drizzle-nav__title"><a href="/" class="x">{{data "global.companyName"}} Design System</a></p>

    <button class="drizzle-nav__toggle c-expandable-content__button js-toggler" id="nav-content">Menu</button>

    <!-- <a href="/" class="drizzle-Nav-title">{{data "global.companyName"}} Design System</a>
         
    <!--
         This is hidden, because it's not used.
         But it's here, because the JS would throw errors if it wasn't. :(
    -->
    <a class="drizzle-Nav-header-toggle" href="#nav" style="display: none;">a</a>
  </div>

  <div class="drizzle-nav__content c-expandable-content__content" aria-hidden="false" id="nav-menu" aria-labelledby="nav-content">

    <div>
      <h2 class="drizzle-nav__collection-title">Components</h2>
      <ul class="drizzle-nav__collection-list drizzle-Nav-menu">
        {{#each (collections "components" sortby="order")}}
          <li>
            {{> nav-item label=name}}
          </li>
        {{/each}}
      </ul>
    </div>
    
    <div>
      <h2 class="drizzle-nav__collection-title">Documentation</h2>
      <ul class="drizzle-nav__collection-list drizzle-Nav-menu">
        {{#each (pages "documentation" sortby="order")}}
          <li>
            {{> nav-item label=data.title}}
          </li>
        {{/each}}
        <li>
          {{> nav-item label="SVG Sprite" url="/svg/symbol/sprite.symbol.html"}}
        </li>
      </ul>
    </div>
    
  </div>
</div>
